<!DOCTYPE html>
<html>

<head>
    <meta charset = "UTF-8">
    <title><%= title%></title>
</head>

<body>
	<center>
	<div class = "div class">
		<h1><%= title%></h1>
		<table class = "table class">
			<tr>
				<form action = '/home' method = "post">
				<th><button id = "Home"><h1>回首頁</h1></button></th>
				</form>
				<form action = '/cover' method = "post">
				<th><button id = "Cover"><h1>Cover</h1></button></th>
				</form>
				<form action = '/raid' method = "post">
				<th><button id = "Raid"><h1>Raid</h1></button></th>
				</form>
				<th><a href = "/all"><h1>全部活動</h1></a></th>
				<th><a href = "/ssr"><h1>自選活動券(玩家持有)</h1></a></th>
				<th><a href = "/presentBox"><h1>自選活動券(禮物箱)</h1></a></th>
			</tr>
		</table>
	</div>

	<div>
	<h1 style = "color : green">Access Code</h1>
		<table class = "table class" border = "10" style = "border-color : blue">
			<tr>
			<form action = '/update' method = "post">
				<td align = "center" valign = "venter"  width = "150">
				<h1 style = "color : green">eventID</h1>
				<hr>
				<input type = "text" placeholder = "查詢活動ID(不可省略)" style = "border-color : orange ; font-size : 24px; text-align : center" name = "selectID">
				</td>

				<td align = "center" valign = "venter" width = "150">
				<h1 style = "color : green">eventTimeStart</h1>
				<hr>
				<input type = "text" placeholder = "修改開始時間(10碼)" style = "border-color : orange ; font-size : 24px; text-align : center" name = "updateStart">
				</td>

				<td align = "center" valign = "venter" width = "150">
				<h1 style = "color : green">eventTimeEnd</h1>
				<hr>
				<input type = "text" placeholder = "修改結束時間(10碼)" style = "border-color : orange ; font-size : 24px; text-align : center" name = "updateEnd">
				</td>

				<td  align = "center" valign = "venter" width = "150">
				<input type = "submit" value = "確認修改" style = "font-size : 24px;">
				<input type = "reset" value = "重置格子" style = "font-size : 24px;">
				</td>
			</form>
			</tr>
		</table>
	</div>

	<div>
	<h1 style = "color : red">進行中的活動</h1>
		<table class = "table class" border = "0">
			<tr>
				<td align = "center" valign = "venter"  width = "150" style = "color : red">
				<h1>
				eventID
				<hr>
				<% for(var I in start){ %>
				<%= JSON.stringify(start[I].eventID) %>
				<hr>
				<% } %>
				</h1>
				</td>

				<td align = "center" valign = "venter" width = "800" style = "color : red">
				<h1>
				eventName
				<hr>
				<% for(var N in start){ %>
				<font size = 5>
				<%= JSON.stringify(start[N].eventName) %>
				</font>
				<hr>
				<% } %>
				</h1>
				</td>

				<td align = "center" valign = "venter" width = "250" style = "color : red">
				<h1>
				eventTimeStart
				<hr>
				<% for(var TS in start){ %>
				<%= JSON.stringify(start[TS].eventTimeStart) %>
				<hr>
				<% } %>
				</h1>
				</td>

				<td align = "center" valign = "venter" width = "250" style = "color : red">
				<h1>
				eventTimeEnd
				<hr>
				<% for(var TE in start){ %>
				<%= JSON.stringify(start[TE].eventTimeEnd) %>
				<hr>
				<% } %>
				</h1>
				</td>
			</tr>
		</table>
	</div>

	<div>
	<h1>未開的活動</h1>
		<table class = "table class" border = "0">
			<tr>
				<td align = "center" valign = "venter"  width = "150">
				<h1>
				eventID
				<hr>
				<% for(var I in nostart){ %>
				<%= JSON.stringify(nostart[I].eventID) %>
				<hr>
				<% } %>
				</h1>
				</td>

				<td align = "center" valign = "venter" width = "800">
				<h1>
				eventName
				<hr>
				<% for(var N in nostart){ %>
				<font size = 5>
				<%= JSON.stringify(nostart[N].eventName) %>
				</font>
				<hr>
				<% } %>
				</h1>
				</td>

				<td align = "center" valign = "venter" width = "250">
				<h1>
				eventTimeStart
				<hr>
				<% for(var TS in nostart){ %>
				<%= JSON.stringify(nostart[TS].eventTimeStart) %>
				<hr>
				<% } %>
				</h1>
				</td>

				<td align = "center" valign = "venter" width = "250">
				<h1>
				eventTimeEnd
				<hr>
				<% for(var TE in nostart){ %>
				<%= JSON.stringify(nostart[TE].eventTimeEnd) %>
				<hr>
				<% } %>
				</h1>
				</td>
			</tr>
		</table>
	</div>

	<div>
	<h1>已結束的活動</h1>
		<table class = "table class" border = "0">
			<tr>
				<td align = "center" valign = "venter"  width = "150">
				<h1>
				eventID
				<hr>
				<% for(var I in no){ %>
				<%= JSON.stringify(no[I].eventID) %>
				<hr>
				<% } %>
				</h1>
				</td>

				<td align = "center" valign = "venter" width = "800">
				<h1>
				eventName
				<hr>
				<% for(var N in no){ %>
				<font size = 5>
				<%= JSON.stringify(no[N].eventName) %>
				</font>
				<hr>
				<% } %>
				</h1>
				</td>

				<td align = "center" valign = "venter" width = "250">
				<h1>
				eventTimeStart
				<hr>
				<% for(var TS in no){ %>
				<%= JSON.stringify(no[TS].eventTimeStart) %>
				<hr>
				<% } %>
				</h1>
				</td>

				<td align = "center" valign = "venter" width = "250">
				<h1>
				eventTimeEnd
				<hr>
				<% for(var TE in no){ %>
				<%= JSON.stringify(no[TE].eventTimeEnd) %>
				<hr>
				<% } %>
				</h1>
				</td>
			</tr>
		</table>
	</div>
	</center>
</body>

</html>
